<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles.css"/>
    <script defer src="https://api.mapbox.com/mapbox-gl-js/v3.1.0/mapbox-gl.js"></script>
    <script defer src="/main.js"></script>
  </head>
  <body>
    
    <div id="form-container">
      <div id="user">
        <% if (user) { %>
            <h2>Welcome, <%= user.username %>!</h2>
            <button onclick="window.location.href='/logout'" id="logout">Logout</button>
        <% } else { %>
            <h2>Please register and login to website.</h2>
            
            <button onclick="window.location.href='/'">Login</button>
        <% } %>
     </div>
      <form id="weatherForm">
        <label for="city">Enter City:</label>
        <input type="text" id="city" name="city" required placeholder="type here..."/>
        <button type="submit">Get Weather</button> 
        <button onclick="window.location.href='/search-history'" id="history">History</button>
      </form>
      
      <div id="weather-info"></div>
      <h5 style="color: rgb(148, 148, 148); text-align: center;">Yaki Meyrambek. SE-2205</h5>
      
    </div>
    <div id="map"></div>
  </body>
</html>
